.hero_container__WkinS{
    height:70vh;
    width:100%;
    display:flex;
    justify-content:center;
    position:relative;
    padding-top:80px;
    background-color:var(--color-6);
    overflow:hidden
}
.hero_container__WkinS .hero_shape__xNwnL{
    position:absolute;
    left:40px;
    bottom:0
}
.hero_container__WkinS .hero_wrapper__6ljo1{
    width:100%;
    max-width:1440px;
    padding:0 60px;
    display:flex;
    align-items:center;
    justify-content:space-between
}
.hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn{
    width:50%
}
.hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn h1{
    color:var(--text-color-2);
    font-size:90px;
    font-weight:700;
    line-height:1.1;
    margin-bottom:35px;
    letter-spacing:-2px;
    width:100%;
    max-width:600px
}
.hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn p{
    color:var(--text-color-2);
    line-height:30px;
    font-size:18px;
    font-weight:400;
    width:100%;
    max-width:460px;
    margin-bottom:40px
}
.hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL{
    width:50%;
    display:flex;
    justify-content:flex-end;
    align-items:center
}
.hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL img{
    width:450px
}
@media screen and (max-width:1440px){
    .hero_container__WkinS{
        height:100%;
        padding-top:170px;
        padding-bottom:50px
    }
    .hero_container__WkinS .hero_shape__xNwnL{
        left:40px;
        width:90px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn{
        padding-bottom:60px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn h1{
        font-size:70px;
        max-width:400px;
        margin-bottom:25px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL{
        z-index:3
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL img{
        position:unset;
        top:unset;
        -webkit-transform:unset;
        transform:unset;
        width:350px
    }
}
@media screen and (max-width:1200px){
    .hero_container__WkinS .hero_shape__xNwnL{
        left:20px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1{
        padding:0 30px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn h1{
        font-size:60px;
        max-width:350px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL img{
        margin-right:0
    }
}
@media screen and (max-width:992px){
    .hero_container__WkinS{
        padding-top:120px;
        padding-bottom:60px
    }
    .hero_container__WkinS .hero_shape__xNwnL{
        left:20px;
        width:60px;
        display:none
    }
    .hero_container__WkinS .hero_wrapper__6ljo1{
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        gap:50px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn{
        width:100%;
        max-width:800px;
        align-self:flex-end;
        padding-bottom:0;
        padding-top:30px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn p{
        max-width:460px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL img{
        width:100%;
        max-width:500px
    }
}
@media screen and (max-width:768px){
    .hero_container__WkinS .hero_shape__xNwnL{
        display:none
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn h1{
        max-width:350px;
        font-size:56px;
        line-height:1.2;
        margin-bottom:20px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn p{
        font-size:16px;
        max-width:440px;
        line-height:26px
    }
}
@media screen and (max-width:540px){
    .hero_container__WkinS{
        padding-top:120px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1{
        flex-direction:column;
        gap:10px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn,.hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn p{
        width:100%
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_right__g_LeL img{
        width:100%;
        max-width:400px
    }
}
@media screen and (max-width:480px){
    .hero_container__WkinS .hero_wrapper__6ljo1{
        padding:0 20px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn{
        width:100%;
        max-width:100%;
        margin-bottom:10px
    }
    .hero_container__WkinS .hero_wrapper__6ljo1 .hero_left__lASVn h1{
        font-size:40px;
        margin-bottom:18px
    }
}
.profileCard_container__Vx_96{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:40px;
    border:1px solid #eff1f6;
    width:100%;
    max-width:400px
}
.profileCard_container__Vx_96 h3{
    color:var(--text-color-2);
    font-size:22px;
    margin-bottom:30px;
    font-weight:500
}
.profileCard_container__Vx_96 .profileCard_profileImg__6X63m{
    border-radius:50%;
    margin-bottom:20px
}
.profileCard_container__Vx_96 p{
    text-align:center;
    color:var(--text-color-2);
    line-height:24px;
    margin-bottom:18px
}
.profileCard_container__Vx_96 .profileCard_socials__Bjm5P{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px
}
.profileCard_container__Vx_96 .profileCard_socials__Bjm5P .profileCard_social__TqLSB .profileCard_socialImg__KBoNj{
    border-radius:0;
    margin-bottom:0;
    cursor:pointer;
    transition:all .4s ease-in-out
}
.profileCard_container__Vx_96 .profileCard_socials__Bjm5P .profileCard_social__TqLSB .profileCard_socialImg__KBoNj:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1)
}
@media screen and (max-width:992px){
    .profileCard_container__Vx_96{
        max-width:100%
    }
    .profileCard_container__Vx_96 p{
        max-width:300px
    }
}
@media screen and (max-width:480px){
    .profileCard_container__Vx_96 p{
        font-size:14px;
        line-height:22px
    }
}
.recentPosts_container__PR2Cj{
    display:flex;
    flex-direction:column;
    padding:40px;
    border:1px solid #eff1f6;
    width:100%;
    max-width:400px
}
.recentPosts_container__PR2Cj h4{
    color:var(--text-color-2);
    font-size:22px;
    margin-bottom:30px;
    font-weight:500
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA{
    display:flex;
    flex-direction:column;
    gap:20px
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_{
    align-items:center;
    display:flex;
    gap:15px;
    cursor:pointer;
    transition:all .4s ease-in-out
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_:hover{
    opacity:.8
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_blogImg__O6dvp{
    object-fit:cover;
    border-radius:10px
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_text__KvxB8 small{
    color:var(--text-color-1);
    text-transform:uppercase;
    font-weight:500
}
.recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_text__KvxB8 p{
    margin-top:6px;
    color:var(--text-color-2);
    text-transform:capitalize;
    font-size:15px;
    font-weight:500
}
@media screen and (max-width:992px){
    .recentPosts_container__PR2Cj{
        max-width:100%
    }
}
@media screen and (max-width:480px){
    .recentPosts_container__PR2Cj{
        padding:25px 20px
    }
    .recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_blogImg__O6dvp{
        border-radius:5px
    }
    .recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_text__KvxB8 small{
        font-size:12px
    }
    .recentPosts_container__PR2Cj .recentPosts_posts__heFxA .recentPosts_recentPost__Lw4k_ .recentPosts_text__KvxB8 p{
        margin-top:5px;
        font-size:15px
    }
}
.main_container__BFPUx{
    background-color:#fff;
    padding:120px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden
}
.main_container__BFPUx .main_wrapper__V3lNU{
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content:space-between;
    z-index:2;
    padding:0 60px
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS{
    width:60%
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:80px;
    margin-bottom:80px
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN{
    border-radius:20px;
    display:flex;
    flex-direction:column;
    cursor:pointer;
    transition:all .4s ease-in-out;
    background-color:#fff;
    z-index:2
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
    width:100%;
    height:500px;
    position:relative;
    margin-bottom:35px;
    border-radius:20px;
    transition:all .4s ease-in-out
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg .main_blogImg__KPtq8{
    border-radius:20px;
    object-fit:cover
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX{
    display:flex;
    align-items:center;
    margin-bottom:25px;
    gap:20px
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_block__fMSuO{
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    padding:0 30px;
    height:40px;
    border-radius:10px;
    line-height:40px
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_category__GWJcU{
    color:var(--color-1);
    background-color:rgba(89,86,233,.1)
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_date__nkrVf{
    background-color:#f1f2ff;
    color:var(--text-color-1)
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN h2{
    font-size:36px;
    color:var(--text-color-2);
    margin-bottom:20px;
    transition:all .2s ease-in-out
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_content__yIFR0 p{
    font-size:17px;
    line-height:1.7;
    color:var(--text-color-1);
    margin-bottom:30px
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN button{
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    font-size:16px;
    font-weight:700;
    color:var(--text-color-2);
    background:var(--color-2);
    height:70px;
    line-height:70px;
    text-align:center;
    padding:0 50px;
    border-radius:10px;
    border:none;
    text-transform:capitalize;
    cursor:pointer;
    transition:all .3s ease-out 0s
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN button:hover{
    background-color:var(--color-1);
    color:var(--text-color-3)
}
.main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN:hover h2{
    color:var(--color-1)
}
.main_container__BFPUx .main_wrapper__V3lNU .main_right___rDdI{
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    gap:40px
}
@media screen and (max-width:1200px){
    .main_container__BFPUx .main_wrapper__V3lNU{
        padding:0 30px;
        gap:20px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
        height:450px
    }
}
@media screen and (max-width:992px){
    .main_container__BFPUx .main_wrapper__V3lNU{
        flex-direction:column;
        max-width:800px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS{
        width:100%
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
        margin-bottom:35px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX{
        margin-bottom:25px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_block__fMSuO{
        font-size:12px;
        padding:0 20px;
        height:35px;
        line-height:35px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN h2{
        font-size:24px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_content__yIFR0 p{
        font-size:16px;
        line-height:1.6
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN button{
        height:60px;
        line-height:60px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_right___rDdI{
        width:100%
    }
}
@media screen and (max-width:768px){
    .main_container__BFPUx{
        padding:80px 0
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB{
        gap:50px;
        margin-bottom:60px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN{
        border-radius:20px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
        margin-bottom:35px;
        height:400px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX{
        margin-bottom:25px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_block__fMSuO{
        font-size:12px;
        padding:0 20px;
        height:35px;
        line-height:35px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN h2{
        font-size:24px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_content__yIFR0 p{
        font-size:16px;
        line-height:1.6
    }
}
@media screen and (max-width:540px){
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
        height:340px
    }
}
@media screen and (max-width:480px){
    .main_container__BFPUx{
        padding:40px 0 60px
    }
    .main_container__BFPUx .main_wrapper__V3lNU{
        padding:0 20px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN h2{
        margin-bottom:15px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_imgContainer__C4TTg{
        margin-bottom:30px;
        height:280px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX{
        gap:15px;
        justify-content:space-between;
        margin-bottom:20px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_row__qD3aX .main_block__fMSuO{
        width:100%;
        text-align:center;
        padding:0 10px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN .main_content__yIFR0 p{
        margin-bottom:20px
    }
    .main_container__BFPUx .main_wrapper__V3lNU .main_left__CZSNS .main_blogs__QRLnB .main_blog__pAjdN button{
        height:56px;
        line-height:56px
    }
}
.blog_container__R4Yvw .blog_main__cQK85{
    overflow:hidden
}
